.wrapper {
  max-width: 350px;
  margin: auto;
}

.container {
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 350px;
  margin: auto;
}

.pageTitle {
  font-size: 1.75rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 16px;
  align-self: center;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 16px;
}

.item {
  color: #555;
}

.item strong {
  color: #333;
}

.change {
  color: #555;
}

.change.positive {
  color: #4caf50; /* Green color for positive change */
}

.change.negative {
  color: #f44336; /* Red color for negative change */
}
